
<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="font-harry-thai font-big">ดูผลรวม</h1> 
      <h1 *ngIf="team=='RED'" class="font-harry-thai font-big" style="color: #e84937">สีแดง</h1>
      <h1 *ngIf="team=='GREEN'"class="font-harry-thai font-big" style="color: #68b758">สีเขียว</h1>
      <h1 *ngIf="team=='YELLOW'"class="font-harry-thai font-big" style="color: #f4d142">สีเหลือง</h1>
      <h1 *ngIf="team=='BLUE'" class="font-harry-thai font-big" style="color: #4286f4">สีฟ้า</h1>
    </div>
  </div>

  <div class="row" style='margin: 5,5,5,5'>
    <div *ngIf="isShowSelectedTeam"  class="col-md-6 btn-group btn-group-toggle" data-toggle="buttons">
      <button id="red" (click)="modeOnClick('RED')" type="button" class="btn btn-danger active">Red</button>
      <button id="green" (click)="modeOnClick('GREEN')" type="button" class="btn btn-success">Green</button>
      <button id="blue" (click)="modeOnClick('BLUE')" type="button" class="btn btn-primary">Blue</button>
      <button id="yellow" (click)="modeOnClick('YELLOW')" type="button" class="btn btn-warning">Yellow</button>
      <button id="all" (click)="modeOnClick('ALL')" type="button" class="btn btn-secondary">All</button>
    </div>

    <div class='col-md-4 input-group'>
      <input class="form-control" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
        [(ngModel)]=selected name="daterange" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true"
        [keepCalendarOpeningWithRange]="true" [ranges]="ranges" (ngModelChange)="dateOnChange()" />
        <div class="input-group-append">
            <span class=" input-group-text fa fa-calendar calendar-btn"></span>
        </div>
    </div>

  </div>

  <table class="table" datatable [dtOptions]=dtOptions>
      <thead>
        <th>Team</th>
        <th>Name</th>
        <th>Score</th>
      </thead>
    </table>

  <div class="row">
      <div class="col-md-5 offset-md-7">
          <h6>Last Sync from Pacer by {{lastUpdated}}</h6>
      </div>
  </div>


</div>