<div class="container">
  <div *ngIf ="team == 'RED'">
      <div class="row">
          <div class="col-md-6 offset-md-3">
            <circle-progress #progressRed id="redCircle" [percent]="percentRed" [outerStrokeGradient]='true' [outerStrokeWidth]="10"
              [outerStrokeColor]="'#fd2913'" [innerStrokeWidth]="0" [outerStrokeGradientStopColor]="'#fd2913'"
              [innerStrokeColor]="'#C6E78B'" [animation]="true" [animationDuration]="150" [clockwise]='false'
              [startFromZero]='true' [responsive]='true' [imageSrc]="'assets/img/world.png'" [imageHeight]='125'
              [imageWidth]='130' [showImage]='true'></circle-progress>
          </div>
        </div>
      
        <div class="row text-center">
          <div class="col-md-12">
            <h1 id="total" class='font-harry-thai'> {{stepsRed | number}} / 58,933,823 ({{percentRed | number : '1.2-2'}}%)</h1>
          </div>
        </div>
  </div>
  
  <div *ngIf ="team == 'GREEN'">
      <div class="row">
          <div class="col-md-6 offset-md-3">
            <circle-progress #progressGreen id="greenCircle" [percent]="percentGreen" [outerStrokeGradient]='true' [outerStrokeWidth]="10"
              [outerStrokeColor]="'#009529'" [innerStrokeWidth]="0" [outerStrokeGradientStopColor]="'#009529'"
              [innerStrokeColor]="'#C6E78B'" [animation]="true" [animationDuration]="150" [clockwise]='false'
              [startFromZero]='true' [responsive]='true' [imageSrc]="'assets/img/world.png'" [imageHeight]='125'
              [imageWidth]='130' [showImage]='true'></circle-progress>
          </div>
        </div>
      
        <div class="row text-center">
          <div class="col-md-12">
            <h1 id="total" class='font-harry-thai'> {{stepsGreen | number}} / 58,933,823 ({{percentGreen | number : '1.2-2'}}%)</h1>
          </div>
        </div>
  </div>

  <div *ngIf="team == 'BLUE'">
      <div class="row">
          <div class="col-md-6 offset-md-3">
            <circle-progress #progressBlue id="blueCircle" [percent]="percentBlue" [outerStrokeGradient]='true' [outerStrokeWidth]="10"
              [outerStrokeColor]="'#4882c2'" [innerStrokeWidth]="0" [outerStrokeGradientStopColor]="'#4882c2'"
              [innerStrokeColor]="'#C6E78B'" [animation]="true" [animationDuration]="150" [clockwise]='false'
              [startFromZero]='true' [responsive]='true' [imageSrc]="'assets/img/world.png'" [imageHeight]='125'
              [imageWidth]='130' [showImage]='true'></circle-progress>
          </div>
        </div>
      
        <div class="row text-center">
          <div class="col-md-12">
            <h1 id="total" class='font-harry-thai'> {{stepsBlue | number}} / 58,933,823 ({{percentBlue | number : '1.2-2'}}%)</h1>
          </div>
        </div>
  </div>

  <div *ngIf="team == 'YELLOW'">
      <div class="row">
          <div class="col-md-6 offset-md-3">
            <circle-progress #progressYellow  id="yellowCircle" [percent]="percentYellow" [outerStrokeGradient]='true' [outerStrokeWidth]="10"
              [outerStrokeColor]="'#ffbc00'" [innerStrokeWidth]="0" [outerStrokeGradientStopColor]="'#ffbc00'"
              [innerStrokeColor]="'#C6E78B'" [animation]="true" [animationDuration]="150" [clockwise]='false'
              [startFromZero]='true' [responsive]='true' [imageSrc]="'assets/img/world.png'" [imageHeight]='125'
              [imageWidth]='130' [showImage]='true'></circle-progress>
          </div>
        </div>
      
        <div class="row text-center">
          <div class="col-md-12">
            <h1 id="total" class='font-harry-thai'> {{stepsYellow | number}} / 58,933,823 ({{percentYellow | number : '1.2-2'}}%)</h1>
          </div>
        </div>
  </div>
  
  <div *ngIf="isShowSelectedTeam" class="row">
    <div class="col-md-12 btn-group special btn-group-toggle text-center" data-toggle="buttons"
      style="padding-bottom: 20px;">
      <button id="red" (click)="onSelectTeam('RED')" type="button" class="btn btn-danger active">Red</button>
      <button id="green" (click)="onSelectTeam('GREEN')" type="button" class="btn btn-success">Green</button>
      <button id="blue" (click)="onSelectTeam('BLUE')" type="button" class="btn btn-primary">Blue</button>
      <button id="yellow" (click)="onSelectTeam('YELLOW')" type="button" class="btn btn-warning">Yellow</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 offset-md-7">
      <h6>Last Sync from Pacer by {{lastUpdated}}</h6>
    </div>
  </div>

</div>