<div class="container center-page">
  <div class="row">
          <div class="col-sm-4 text-center">
                  <a href="#" onclick="document.location='/search';return false;" >
                          <img src="assets/img/search.png" class="logo-size" />
                  </a>
                  <div class="row text-center">
                          <div class="col-md-12">
                                  <h1 class="font-harry-thai">ดูผลวิ่ง</h1>
                          </div>
                   </div>
              </div>
              <div class="col-sm-4 text-center">
                      <a href="#" onclick="document.location='/around-the-world';return false;" >
                          <img src="assets/img/around-the-world.png" class="logo-size" />
                  </a>
                  <div class="row text-center">
                          <div class="col-md-12">
                                  <h1 class="font-harry-thai">ดูผลวิ่งรอบโลก</h1>
                          </div>
                      </div>
              </div>
              <div class="col-sm-4 text-center">
                      <a href="#" onclick="document.location='/ranking';return false;" >
                          <img src="assets/img/ranking.png" class="logo-size" />
                  </a>
                  <div class="row text-center">
                          <div class="col-md-12">
                                  <h1 class="font-harry-thai">อันดับ</h1>
                          </div>
                      </div>
          </div>
  </div>
</div>