/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(assets/img/bg.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ece0b7;
  }

  .logo-size {
    max-width: 100%;
    width: 250px;
    height: 250px;
  }

  .btn-group.special {
    display: flex;
  }
  
  .special .btn {
    flex: 1
  }

  .font-big {
    font-size: 4rem;
  }

  .brown-bg {
    background: #ece0b7;
  }

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .center-page {
    margin: auto;
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    bottom: 15%;
  }
  .font-dbhelven {
    font-family: DBHelvethaicaMonX;
  }

  .font-harry {
    font-family: MagicSchoolOne;
  }

  .font-harry-thai {
    font-family: SarunHarryPotter;
  }

  html {
    font-size: 20px;
  }


  @media (max-width: 768px) {
    html {
      font-size: 18px;
    }
  }

  @media (max-width: 576px) {
    html {
      font-size: 17px;
    }
    .logo-size {
      width: 180px;
      height: 180px;
    }
  }

  @media (max-width: 392px) {
    html {
      font-size: 16px;
    }
    .logo-size {
      width: 150;
      height: 150;
    }
  }

  @media (max-width: 374px) {
    html {
      font-size: 15px;
    }
  }

  @media (max-width: 354px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-width: 317px) {
    html {
      font-size: 13px;
    }
    .logo-size {
      width: 120px;
      height: 120px;
    }
  }

  body {
    font-family: "DBHelvethaicaMonX";
    font-size: 1rem;

  }

  
  @font-face {
    font-family: DBHelvethaicaMonX;
    src: url(assets/font/DBHelvethaicaMonX.ttf);
  }

  @font-face {
    font-family: MagicSchoolOne;
    src: url(assets/font/MagicSchoolOne.ttf);
  }

  @font-face {
    font-family: SarunHarryPotter;
    src: url(assets/font/SarunHarryPotter.ttf);
  }

  
  